@import './base.scss';
@import './mixin.scss';
@import './bootstrap-grid.scss';
@import './nav.scss';
@import './info-block.scss';
@import './header.scss';
@import './icon-block.scss';
@import './form';
@import './start.scss';
@import './solutions.scss';
@import './insurance.scss';

body{
  background: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

h2{
  color: #333;
}

.link{
  color: #008099;
  border-bottom: 1px solid #008099;
  @extend .regular-text;
  &:hover{
    border-bottom: 1px solid transparent
  }

}

#BSC{

  p{
    &:first-of-type{
      margin-top: 60px;
    }

    @extend .regular-text;
    @extend %text;

    max-width: 900px;
    margin: 0 auto 4px;
  }
}
