$thumbnail-text: 12px;
$license-text: 13px;
$small-text: 14px;
$regular-text: 16px;
$larger-text: 18px;
$mobile-large-text: 20px;
$large-text: 22px;
$main-text: 24px;
$sub-title-text: 30px;
$title-text: 36px;
$block-title-text: 42px;
$rate-text: 46px;
$main-page-text:48px;



* {
  line-height: 1.2em;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

br{
  line-height: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input {
  outline: none !important;
}

.text-right {
  text-align: right;
}

.page-title {
  font-size: $main-page-text;
  line-height: 48px;
  letter-spacing: -1px;

  @media(max-width: 992px) {
    font-size: $block-title-text;
  }

  @media(max-width:543px) {
    font-size: $title-text;
    line-height: 42px;
    letter-spacing: -.5px;
  }
}

.block-title {
  font-size: $block-title-text;
  line-height: 48px;
  letter-spacing: -1px;

  @media(max-width: 992px) {
    font-size: $title-text;
    line-height: 42px;
    letter-spacing: -.5px;
  }

  @media(max-width:767px) {
    font-size: $sub-title-text;
    line-height: 32px;
  }
}

.sub-title {
  font-size: $sub-title-text;
  line-height: 32px;
  letter-spacing: -.5px;

  @media(max-width: 767px) {
    font-size: $large-text;
    line-height: 28px;
    letter-spacing: normal;
  }
}

.large-text {
  font-size: $large-text;
  line-height: 28px;

  @media(max-width: 767px) {
    font-size: $larger-text;
    line-height: 24px;
  }
}

.regular-text {
  font-size: $regular-text;
  line-height: 24px;

  @media(max-width: 767px) {
    font-size: $small-text;
    line-height: 20px;
  }
}

.small-text {
  font-size: $small-text;
  line-height: 20px;

  @media(max-width: 767px) {
    font-size: $thumbnail-text;
    line-height: 18px;
    letter-spacing: .5px;
  }
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-start     { align-items: flex-start; }
.align-center    { align-items: center; }
.align-end       { align-items: flex-end; }
.align-stretch   { align-items: stretch; }
.justify-start   { justify-content: flex-start; }
.justify-center  { justify-content: center; }
.justify-end     { justify-content: flex-end; }
.justify-stretch { justify-content: stretch; }
.justify-between { justify-content: space-between; }
.text-center     { text-align: center; }
.overflow-hidden {
  @media (max-width: 768px){
    overflow: hidden;
  }
}
.section{
  width: 100%;
  padding: 30px 0 60px;
  position: relative;
  &--white{
    background-color: #fff;
  }
  &--gray{
    background-color: #f5f5f5;
  }
}
