
.icon-block{
  &__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  width: 100%;
  margin: 50px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  &__icon{
    width: 50px;
    height: 50px;
  }
  &__text{
    @extend .regular-text;
    padding-left: 20px;
    margin: 0;
    color: #666;
  }
}
.icon{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  &--graph{
    background-image: url("../img/grow_up.svg");
  }
  &--user{
    background-image: url("../img/user.svg");
  }
  &--a-plus {
    background-image: url("../img/rating.svg");
  }
}
