.info-block {
  width: 90%;
  height: auto;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 6px 12px 0 rgba(187, 187, 187, 0.3);
  border-radius: 6px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin: 0 22px 22px 0;
  padding: 20px 12px;
  border-radius: 10px;
  &__title{
    text-transform: uppercase;
    font-weight: 500;
    color: rgba(0,0,0, .7);
    @extend .large-text;
  }
}
